.resume {
    height: 600px;
    background: linear-gradient(var(--xik), 2%, var(--copper), var(--gold), var(--copper), var(--xik));

}

h1 {
    text-align: center;
    padding: 1% 0 1%;
    color: var(--gold);
    text-shadow: 1px 1px var(--blkCoffe);
}

h2 {
    color: var(--gold);
    text-shadow: 1px 1px var(--blkCoffe);
}

.card {
    justify-content: center;
    align-content: center;
    border: 2px solid var(--xik);
    background: linear-gradient(var(--blkCoffe), var(--coffee), var(--copper), var(--coffee), var(--blkCoffe));
}

ul { 
    text-align: center;
    list-style-type: none;
}

li {
    color:var(--gold);
    text-shadow: 1px 1px var(--blkCoffe);
}

p {
    text-align: center;
    padding-top: 3%;
    color: var(--gold);
    text-shadow: 1px 1px var(--blkCoffe);
}

a {
    justify-content: center;
    text-align: center;
    font-size:x-large;
    margin-bottom: 5%;
    color: var(--gold);

}

div.row.justify-content-around {
    margin: 0%
}

@media screen and (max-width: 992px) {

    .resume {
        height: 1100px;
    }

    .card {
        margin-bottom: 10px;
        width: 30%;
    }

    
}

@media screen and (max-width: 768px){
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 692px) {
    .card {
        width: 50%;
    }
}

@media screen and (max-width: 482px) {
    .card{
        width:60%;
    }
}