:root {
  --xik: #080109;
  --blkCoffe: #2D2021;
  --coffee: #6e5038;
  --copper: #a57141;
  --camel: #b89764;
  --gold: #dcbf8a;

}

.skull {
  background-image: url('./images/skullbg.jpg');
  background-size: cover;
  background-position: center;
  height: 275px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.nav-item {
  padding-right: 20px;
}

.name {
  color: var(--camel);
  text-shadow: var(--gold);
  
  
}

a {
  color: var(--gold)
}

a:hover {
  color: var(--copper);
  text-shadow: 1px 1px var(--gold);
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

