.about {
    height:600px;
    display: flex;
    background: linear-gradient(var(--xik), 2%, var(--copper), var(--gold), var(--copper), var(--xik));

}

.gears {
    max-height: 500px;
    max-width: 500px;
}

.title {
    justify-content: center;
    align-content: center;
    margin-top: 12%;
    color: var(--coffee);
    text-shadow: 1px 1px var(--blkCoffe);

}

.para {
    justify-content: center;
    align-content: center;
    margin-top: 8%;
    color: var(--blkCoffe);
    text-shadow: 0px 0px
    
}

@media screen and (max-width: 1200px ){
    .gears {
        height: auto;
        max-width: 100%;
    }

    .about {
        flex-direction: column;
    }

}

@media screen and (max-width:992px){
    .row {
        position: relative;
    }
    .gears {
        position:absolute;
        height: auto;
        max-width: 100%;
        top: 10px;
    }

    .row {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .title {
        position: absolute;
        top: 0px;
        left: 100px;
        margin-left: 40%;
        height: 5%;
    }

    .para {
        position: absolute;
        top: 200px;
        left: 80px;
        margin-left: 15%;
        padding-bottom: 30%;
        height: 10%;
    }

    .about {
        height: 858px;
    }
}

@media screen and (max-width: 768px) {
    .gears {
        height: auto;
        max-width: 100%;
    }

    .about{
        height: 768px;
    }

    .title {
        top: -10px;
        left: 60px;
    }

    .para {
        top: 130px;
    }


}

@media screen and (max-width: 692px) {
    .gears {
        height: auto;
        max-width: 100%;
    }
    
    .title{
        color: var(--camel)
    }

    .para {
        color: var(--camel);
        text-shadow: 1px 1px var(--xik);
    }


}

@media screen and (max-width: 592px) {
    .about{
        height: 900px;
    }

}

@media screen and (max-width: 504px) {
    .about{
        height: 1000px;
    }

    .title{
        left: 10px;
    }

    .para{
        left: 40px;
    }

}

@media screen and (max-width: 426px) {
    .about{
        height: 1100px;
    }

    .para{
        top: 90px;
    }

}