.contactForm {
    height: 600px;
    text-align: center;
    justify-content: center;
    background: linear-gradient(var(--xik), 2%, var(--copper), var(--gold), var(--copper), var(--xik));
    
}

.formField {
    padding-top: 20px;
    position: relative;

}

.enterName {
    position:absolute;
    top: 105px;
    right: 750px;
}

.nameInput {
    width: 400px;
}

.enterEmail {
    position:absolute;
    bottom: -90px;
    right: 750px;
}

.emailInput {
    width: 400px;
}

.enterMessage {
    position: absolute;
    bottom: -240px;
    right: 750px;
}

.messageBox {
    width:400px;
}

.enterSubmit {
    position:absolute;
    bottom: -300px;
    right: 925px;
}

label {
    color: var(--blkCoffe);
    text-shadow: 1px 1px var(--blkCoffe);
    font-size:larger;
    padding-right: 10px;
}

.submitBtn {
    color: var(--blkCoffe);
    background-color: var(--gold);
    border: 1px solid var(--xik)
}