.carousel {
    height: 600px;
    background: linear-gradient(var(--xik), 2%, var(--coffee), var(--copper), var(--camel), var(--gold), var(--camel), var(--copper), var(--coffee), var(--xik));
}

.mainImg{
    width: 640px;
    height: 360px;
}

.carousel-inner img {
    margin:auto;
    padding-top: 100px;
    position: relative;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
        
}

.description {
    padding-top: 0px;
}

.carousel-control-prev {
    background-color: var(--xik);
    height: 25%;
    width: 5%;
    position: relative;
    top: -315px;

}

.carousel-control-next {
    background-color: var(--xik);
    height: 25%;
    width: 5%;
    position: relative;
    top: -470px;
    right: -1820px;
}

.leftIcon {
    position: absolute;
    top: 200px;
    left: 650px;
}

.rightIcon {
    position: absolute;
    top: 200px;
    right: 650px;
}

.description:link { text-decoration: none; }
.description:visited { text-decoration: none; }
.description:hover { text-decoration: none; }
.description:active { text-decoration: none; }